# Dependency directories
/node_modules
/.pnp
.pnp.js

# Testing directories
/coverage

# Production build directory
/build
/out

# Runtime data
/.next
/.nuxt
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local

# Editor directories and files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Miscellaneous
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
